$font-main: 'Roboto', sans-serif;
$card-width: 200px;
$card-height: 408px;
$border-color: #f3f3f3;
$text-color: #060b35;
$muted-color: #616070;
$primary-color: #00acdc;
$card-color: #fff;
$star-size: 16px;
